In [33]:
import numpy as np
import pandas as pd
from numpy import NaN

TRAIN_CSV_PATH = 'train.csv'
df = pd.read_csv(TRAIN_CSV_PATH)
df.head()

,Home Ownership,Annual Income,Years in current job,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Purpose,Term,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Credit Default
0,Own Home,482087.0,NaN,0.0,11.0,26.3,685960.0,1.0,NaN,1.0,debt consolidation,Short Term,99999999.0,47386.0,7914.0,749.0,0
1,Own Home,1025487.0,10+ years,0.0,15.0,15.3,1181730.0,0.0,NaN,0.0,debt consolidation,Long Term,264968.0,394972.0,18373.0,737.0,1
2,Home Mortgage,751412.0,8 years,0.0,11.0,35.0,1182434.0,0.0,NaN,0.0,debt consolidation,Short Term,99999999.0,308389.0,13651.0,742.0,0
3,Own Home,805068.0,6 years,0.0,8.0,22.5,147400.0,1.0,NaN,1.0,debt consolidation,Short Term,121396.0,95855.0,11338.0,694.0,0
4,Rent,776264.0,8 years,0.0,13.0,13.6,385836.0,1.0,NaN,0.0,debt consolidation,Short Term,125840.0,93309.0,7180.0,719.0,0

In [5]:
df.iloc[0]

Home Ownership                            Own Home
Annual Income                               482087
Years in current job                           NaN
Tax Liens                                        0
Number of Open Accounts                         11
Years of Credit History                       26.3
Maximum Open Credit                         685960
Number of Credit Problems                        1
Months since last delinquent                   NaN
Bankruptcies                                     1
Purpose                         debt consolidation
Term                                    Short Term
Current Loan Amount                          1e+08
Current Credit Balance                       47386
Monthly Debt                                  7914
Credit Score                                   749
Credit Default                                   0
Name: 0, dtype: object

In [7]:
df.shape

(7500, 17)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Home Ownership                7500 non-null   object
 1   Annual Income                 5943 non-null   float64
 2   Years in current job          7129 non-null   object
 3   Tax Liens                     7500 non-null   float64
 4   Number of Open Accounts       7500 non-null   float64
 5   Years of Credit History       7500 non-null   float64
 6   Maximum Open Credit           7500 non-null   float64
 7   Number of Credit Problems     7500 non-null   float64
 8   Months since last delinquent  3419 non-null   float64
 9   Bankruptcies                  7486 non-null   float64
 10  Purpose                       7500 non-null   object
 11  Term                          7500 non-null   object
 12  Current Loan Amount           7500 non-null   float64
 13  Current Credit Balance        7500 non-null   float64
 14  Monthly Debt                  7500 non-null   float64
 15  Credit Score                  5943 non-null   float64
 16  Credit Default                7500 non-null   int64
dtypes: float64(12), int64(1), object(4)
memory usage: 996.2+ KB

In [11]:
df.describe()

,Annual Income,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Credit Default
count,5.943000e+03,7500.000000,7500.000000,7500.000000,7.500000e+03,7500.000000,3419.000000,7486.000000,7.500000e+03,7.500000e+03,7500.000000,5943.000000,7500.000000
mean,1.366392e+06,0.030133,11.130933,18.317467,9.451537e+05,0.170000,34.692600,0.117152,1.187318e+07,2.898332e+05,18314.454133,1151.087498,0.281733
std,8.453392e+05,0.271604,4.908924,7.041946,1.602622e+07,0.498598,21.688806,0.347192,3.192612e+07,3.178714e+05,11926.764673,1604.451418,0.449874
min,1.645970e+05,0.000000,2.000000,4.000000,0.000000e+00,0.000000,0.000000,0.000000,1.124200e+04,0.000000e+00,0.000000,585.000000,0.000000
25%,8.443410e+05,0.000000,8.000000,13.500000,2.792295e+05,0.000000,16.000000,0.000000,1.801690e+05,1.142565e+05,10067.500000,711.000000,0.000000
50%,1.168386e+06,0.000000,10.000000,17.000000,4.781590e+05,0.000000,32.000000,0.000000,3.095730e+05,2.093230e+05,16076.500000,731.000000,0.000000
75%,1.640137e+06,0.000000,14.000000,21.800000,7.935015e+05,0.000000,50.000000,0.000000,5.198820e+05,3.604062e+05,23818.000000,743.000000,1.000000
max,1.014934e+07,7.000000,43.000000,57.700000,1.304726e+09,7.000000,118.000000,4.000000,1.000000e+08,6.506797e+06,136679.000000,7510.000000,1.000000

In [13]:
df['Credit Default'].value_counts()

0    5387
1    2113
Name: Credit Default, dtype: int64

In [16]:
#Задание №1
#Посчитать основные статистики по каждому признаку (минимальные, максимальные, средние значения). 
#Сделать выводы об адекватности этих статистик.

#Home Ownership - домовладение
#Принимает строковые значения - например "Own Home" Можно свести к категориям

#Annual Income - годовой доход
#Принимает числовые значения  min 1.645970e+05 mean 1.366392e+06 max 1.014934e+07 - выглядит правдоподобно

#Years in current job - количество лет на текущем месте работы
#Принимает строковые значения вида 8 years По всей видимости можно привести к числовым значениям

#Tax Liens - налоговые обременения
#Не очень понятен контект данного признака.
#Принимает числовые значения. Статистики следующие min 0.000000 mean 0.030133 max 7.000000
#Можно предположить что максимальное значение 7.000000 - это выброс, но наверняка утверждать невозможно

#Number of Open Accounts - количество открытых счетов
#Принимает числовые значения. min 2.000000	 mean 11.130933 max 43.000000 - выглядит правдоподобно. Удивительно, что минимум открытых
#счетов принимает значение 2

#Years of Credit History - количество лет кредитной истории
#Принимает числовые значения min 4.000000	 mean 18.317467 max 57.700000. 
#Странно что минимум количеств лет кредитной истории равен 4


#Maximum Open Credit - наибольший открытый кредит
#Принимает числовые значения min 0.000000e+00 mean 9.451537e+05 max 1.304726e+09 
#максимальное значение на четеры порядка превосходит среднее и медиану, это выглядит немного странно

#Number of Credit Problems - количество проблем с кредитом
#Принимает числовые значения min 0.000000 mean 0.170000 max 7.000000
#Слишком много людей имевших слишком мало проблем с кредитом (среднее 0.170000 при максимуме в 7)

#Months since last delinquent - количество месяцев с последней просрочки платежа
#min 0.000000 mean 34.692600 max 118.000000 значения выглядят правдоподобно


#Bankruptcies - банкротства
#min 0.000000 mean 0.117152 max 4.000000 - среднее количество банкроств 0.117152 при максимуме в 4
#это выглядит слишком хорошо

#Purpose - цель кредита
#строковое значение - можно перевести в категорию

#Term - срок кредита
#строковое значение - можно оперировать только категориями

#Current Loan Amount - текущая сумма кредита
#min 1.124200e+04	 mean 1.187318e+07	 max 1.000000e+08 
#средняя только на порядок меньше максимума

#Current Credit Balance - текущий кредитный баланс
#min 0.000000e+00	 mean 2.898332e+05 max 6.506797e+06
#признак выглядит адекватным

#Monthly Debt - ежемесячный долг
#min 0.000000 mean 18314.454133 max 136679.000000
#признак выглядит адекватным

#Credit Score - баллы кредитного рейтинга
#min 585.000000 mean 1151.087498 max 7510.000000
# разброс пределах двух порядков. признак выглядит адекватным


#Credit Default - факт невыполнения кредитных обязательств (0 - погашен вовремя, 1 - просрочка)
#Целевой признак, поэтому среднее здесь бессмысленно оценивать min 0 max 1 -все в пределах нормы

In [17]:
df.describe()

,Annual Income,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Credit Default
count,5.943000e+03,7500.000000,7500.000000,7500.000000,7.500000e+03,7500.000000,3419.000000,7486.000000,7.500000e+03,7.500000e+03,7500.000000,5943.000000,7500.000000
mean,1.366392e+06,0.030133,11.130933,18.317467,9.451537e+05,0.170000,34.692600,0.117152,1.187318e+07,2.898332e+05,18314.454133,1151.087498,0.281733
std,8.453392e+05,0.271604,4.908924,7.041946,1.602622e+07,0.498598,21.688806,0.347192,3.192612e+07,3.178714e+05,11926.764673,1604.451418,0.449874
min,1.645970e+05,0.000000,2.000000,4.000000,0.000000e+00,0.000000,0.000000,0.000000,1.124200e+04,0.000000e+00,0.000000,585.000000,0.000000
25%,8.443410e+05,0.000000,8.000000,13.500000,2.792295e+05,0.000000,16.000000,0.000000,1.801690e+05,1.142565e+05,10067.500000,711.000000,0.000000
50%,1.168386e+06,0.000000,10.000000,17.000000,4.781590e+05,0.000000,32.000000,0.000000,3.095730e+05,2.093230e+05,16076.500000,731.000000,0.000000
75%,1.640137e+06,0.000000,14.000000,21.800000,7.935015e+05,0.000000,50.000000,0.000000,5.198820e+05,3.604062e+05,23818.000000,743.000000,1.000000
max,1.014934e+07,7.000000,43.000000,57.700000,1.304726e+09,7.000000,118.000000,4.000000,1.000000e+08,6.506797e+06,136679.000000,7510.000000,1.000000

In [19]:
#Задание 2.Посчитать для каждого признака, сколько в нем уникальных значений и как часто они встречаются. 
#Сделать выводы по каждому признаку.

for cat_colname in df.columns:
    print(str(cat_colname) + '\n\n' + str(df[cat_colname].value_counts()) + '\n' + '*' * 100 + '\n')

Home Ownership

Home Mortgage    3637
Rent             3204
Own Home          647
Have Mortgage      12
Name: Home Ownership, dtype: int64
****************************************************************************************************

Annual Income

1161660.0    4
1058376.0    4
1338113.0    4
1043651.0    4
969475.0     4
            ..
1141254.0    1
7907382.0    1
1534478.0    1
972040.0     1
1654786.0    1
Name: Annual Income, Length: 5478, dtype: int64
****************************************************************************************************

Years in current job

10+ years    2332
2 years       705
3 years       620
< 1 year      563
5 years       516
1 year        504
4 years       469
6 years       426
7 years       396
8 years       339
9 years       259
Name: Years in current job, dtype: int64
****************************************************************************************************

Tax Liens

0.0    7366
1.0      83
2.0      30
3.0      10
4.0       6
5.0       2
6.0       2
7.0       1
Name: Tax Liens, dtype: int64
****************************************************************************************************

Number of Open Accounts

9.0     728
11.0    692
10.0    677
8.0     638
7.0     613
12.0    562
6.0     504
13.0    465
14.0    420
5.0     325
15.0    313
16.0    265
17.0    232
4.0     212
18.0    143
19.0    139
3.0      95
20.0     93
21.0     78
23.0     59
24.0     50
22.0     49
25.0     32
2.0      28
28.0     14
27.0     14
26.0     12
30.0     11
29.0     10
32.0      6
33.0      6
31.0      6
34.0      2
37.0      2
43.0      1
35.0      1
41.0      1
38.0      1
42.0      1
Name: Number of Open Accounts, dtype: int64
****************************************************************************************************

Years of Credit History

15.0    104
16.0     99
16.5     91
17.0     86
17.5     83
       ...
43.2      1
4.9       1
39.5      1
42.4      1
39.8      1
Name: Years of Credit History, Length: 408, dtype: int64
****************************************************************************************************

Maximum Open Credit

0.0          65
319110.0      5
334796.0      3
607046.0      3
294030.0      3
             ..
534600.0      1
1026124.0     1
77066.0       1
780164.0      1
350768.0      1
Name: Maximum Open Credit, Length: 6963, dtype: int64
****************************************************************************************************

Number of Credit Problems

0.0    6469
1.0     882
2.0      93
3.0      35
4.0       9
5.0       7
6.0       4
7.0       1
Name: Number of Credit Problems, dtype: int64
****************************************************************************************************

Months since last delinquent

14.0     76
29.0     71
8.0      68
33.0     68
13.0     65
         ..
86.0      1
92.0      1
118.0     1
84.0      1
91.0      1
Name: Months since last delinquent, Length: 89, dtype: int64
****************************************************************************************************

Bankruptcies

0.0    6660
1.0     786
2.0      31
3.0       7
4.0       2
Name: Bankruptcies, dtype: int64
****************************************************************************************************

Purpose

debt consolidation      5944
other                    665
home improvements        412
business loan            129
buy a car                 96
medical bills             71
major purchase            40
take a trip               37
buy house                 34
small business            26
wedding                   15
moving                    11
educational expenses      10
vacation                   8
renewable energy           2
Name: Purpose, dtype: int64
****************************************************************************************************

Term

Short Term    5556
Long Term     1944
Name: Term, dtype: int64
****************************************************************************************************

Current Loan Amount

99999999.0    870
89298.0         6
218064.0        6
216106.0        5
270226.0        5
             ...
490006.0        1
404756.0        1
194414.0        1
420376.0        1
33792.0         1
Name: Current Loan Amount, Length: 5386, dtype: int64
****************************************************************************************************

Current Credit Balance

0.0         53
191710.0     5
53580.0      4
106818.0     4
155059.0     4
            ..
229672.0     1
349467.0     1
116223.0     1
797240.0     1
189905.0     1
Name: Current Credit Balance, Length: 6592, dtype: int64
****************************************************************************************************

Monthly Debt

0.0        6
19222.0    4
19667.0    4
9525.0     3
22364.0    3
          ..
12897.0    1
27541.0    1
23227.0    1
55957.0    1
17.0       1
Name: Monthly Debt, Length: 6716, dtype: int64
****************************************************************************************************

Credit Score

740.0     169
747.0     168
748.0     157
745.0     152
741.0     151
         ...
602.0       1
616.0       1
585.0       1
620.0       1
7010.0      1
Name: Credit Score, Length: 268, dtype: int64
****************************************************************************************************

Credit Default

0    5387
1    2113
Name: Credit Default, dtype: int64
****************************************************************************************************

In [20]:
#Home Mortgage:
#Home Mortgage    3637
#Rent             3204
#Own Home          647
#Have Mortgage      12

#Налицо всего четыре категории 90% которых приходится всего на две Home Mortgage и Rent

#Annual Income - здесь количество уникальных значений 5478, что естественно

#Years in current job
#11 категорий, значения по которым распределены неравномерно. Самая популярная 10+ years Наименее популярная 9 years
#стоит отметить пи на 2 years со значением 705

#Tax Liens

#0.0    7366
#1.0      83
#2.0      30
#3.0      10
#4.0       6
#5.0       2
#6.0       2
#7.0       1

#Подавляющее число значений отнесено к значению 0.0 При этом всего 8 уникальных значений. Вполне определенно можно говорить
#о категориях

#Number of Open Accounts
# здесь наравномерный график из нескольких десятков уникальных значений. Стоит отметить что самые популярные 
#значения оказалиь 7,8,9,10 и 11

#Years of Credit History
#408 уникальных значений. То есть приводится не целое а дробное число лет.
#Самое пополулярное значений 15 лет (104 раза)

#Maximum Open Credit
#6963 уникальных значений

#Number of Credit Problems
#0.0    6469
#1.0     882
#2.0      93
#3.0      35
#4.0       9
#5.0       7
#6.0       4
#7.0       1
#подовляющее количество лиц имеет ноль проблем с кредитом либо одну проблему. 8 уникальных значений

#Months since last delinquent
#89 уникальных значений


#Bankruptcies
#0.0    6660
#1.0     786
#2.0      31
#3.0       7
#4.0       2
#Всего пять уникальных значений

#Purpose

#debt consolidation      5944
#other                    665
#home improvements        412
#business loan            129
#buy a car                 96
#medical bills             71
#major purchase            40
#take a trip               37
#buy house                 34
#small business            26
#wedding                   15
#moving                    11
#educational expenses      10
#vacation                   8
#renewable energy           2

#15 уникальных значений

#Term
#Short Term    5556
#Long Term     1944
#Всего 2 уникальных значения

#Current Loan Amount
#5386 уникальных значения из которых 879 приходится на 99999999.0 

#Current Credit Balance
#6592 уникальных значений, что естественно для такого признака

#Monthly Debt
#6716 уникальных значений, что естественно для такого признака


#Credit Score
#268 уникальных значений, то есть это говорит о том что есть вполне узкий диапазон, в котором укладывается 
#данный признак по отношению к количеству рассматриваемых лиц
#У кого-то кредитный рейтинг 7010

#Credit Default
#0    5387
#1    2113
#Целевой признак. Значения строго либо 0 либо 1 при этом есть существенный более чем в два раза перевес
#значений для уникального значения "0"

In [22]:
#Залание3.Используя выводы из двух предыдущих заданий, найдите те наблюдения, где есть пропуски, выбросы 
#(неадекватные значения признака, которые отличаются от большинства), используя фильтрацию из pandas.


df.isna().sum()

Home Ownership                     0
Annual Income                   1557
Years in current job             371
Tax Liens                          0
Number of Open Accounts            0
Years of Credit History            0
Maximum Open Credit                0
Number of Credit Problems          0
Months since last delinquent    4081
Bankruptcies                      14
Purpose                            0
Term                               0
Current Loan Amount                0
Current Credit Balance             0
Monthly Debt                       0
Credit Score                    1557
Credit Default                     0
dtype: int64

In [44]:
#Довольно много пропусков для Annual Income, Years in current job, Months since last delinquent, Bankruptcies, Credit Score
df.loc[df['Maximum Open Credit'] > 100000000]

,Home Ownership,Annual Income,Years in current job,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Purpose,Term,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Credit Default
44,Have Mortgage,1334256.0,10+ years,0.0,17.0,15.4,3.800523e+08,1.0,35.0,0.0,take a trip,Short Term,33110.0,656450.0,34357.0,729.0,0
617,Home Mortgage,NaN,3 years,0.0,13.0,27.5,1.304726e+09,0.0,NaN,0.0,debt consolidation,Short Term,529892.0,1126814.0,5492.0,NaN,0
2617,Home Mortgage,3217802.0,10+ years,0.0,12.0,35.5,2.655129e+08,0.0,NaN,0.0,other,Short Term,50116.0,1834450.0,20272.0,750.0,0

In [46]:
df.loc[df['Tax Liens'] > 3]

,Home Ownership,Annual Income,Years in current job,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Purpose,Term,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Credit Default
1129,Rent,1691019.0,5 years,4.0,11.0,20.4,681934.0,6.0,71.0,2.0,major purchase,Long Term,543906.0,116014.0,38753.0,693.0,0
1214,Rent,3061584.0,2 years,6.0,14.0,28.9,949564.0,6.0,67.0,0.0,debt consolidation,Short Term,99999999.0,352640.0,29595.0,740.0,0
2716,Home Mortgage,2522611.0,10+ years,5.0,7.0,14.4,235994.0,6.0,56.0,1.0,business loan,Short Term,342650.0,110257.0,14610.0,711.0,0
3028,Rent,NaN,NaN,4.0,11.0,25.0,344102.0,5.0,81.0,1.0,debt consolidation,Short Term,312444.0,230318.0,17334.0,NaN,1
3435,Rent,1231561.0,10+ years,5.0,9.0,16.0,518892.0,5.0,71.0,0.0,other,Long Term,345708.0,163571.0,17242.0,708.0,1
3814,Rent,1254513.0,1 year,4.0,5.0,10.5,122804.0,5.0,36.0,0.0,debt consolidation,Short Term,193864.0,31920.0,1965.0,716.0,1
4122,Home Mortgage,3297412.0,< 1 year,4.0,13.0,35.3,320474.0,4.0,37.0,0.0,other,Long Term,763620.0,100472.0,31875.0,647.0,0
4774,Own Home,1268896.0,NaN,4.0,15.0,15.8,3278000.0,5.0,18.0,1.0,debt consolidation,Short Term,268356.0,939892.0,14698.0,739.0,0
5373,Own Home,1711881.0,10+ years,6.0,12.0,15.4,551166.0,6.0,26.0,0.0,debt consolidation,Short Term,313654.0,295602.0,36092.0,741.0,0
5969,Rent,2897310.0,10+ years,7.0,9.0,20.0,434126.0,7.0,54.0,0.0,medical bills,Short Term,782782.0,275576.0,37182.0,716.0,0
6907,Own Home,NaN,7 years,4.0,15.0,12.1,421916.0,4.0,49.0,0.0,debt consolidation,Short Term,218460.0,201134.0,24197.0,NaN,1

In [48]:
df.loc[df['Number of Credit Problems'] == 7]

,Home Ownership,Annual Income,Years in current job,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Purpose,Term,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Credit Default
5969,Rent,2897310.0,10+ years,7.0,9.0,20.0,434126.0,7.0,54.0,0.0,medical bills,Short Term,782782.0,275576.0,37182.0,716.0,0

In [50]:
df.loc[df['Bankruptcies'] == 4]

,Home Ownership,Annual Income,Years in current job,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Purpose,Term,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Credit Default
4223,Rent,918517.0,10+ years,0.0,3.0,19.8,81070.0,4.0,78.0,4.0,debt consolidation,Short Term,74888.0,2375.0,7501.0,713.0,0
5788,Rent,3034224.0,3 years,0.0,10.0,16.7,307582.0,4.0,NaN,4.0,debt consolidation,Long Term,418858.0,137066.0,17295.0,692.0,1

In [54]:
df.loc[df['Annual Income'].isna()]

,Home Ownership,Annual Income,Years in current job,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Purpose,Term,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Credit Default
5,Rent,NaN,7 years,0.0,12.0,14.6,366784.0,0.0,NaN,0.0,other,Long Term,337304.0,165680.0,18692.0,NaN,1
8,Home Mortgage,NaN,5 years,0.0,17.0,15.7,0.0,1.0,NaN,1.0,home improvements,Short Term,129734.0,19.0,17.0,NaN,0
9,Home Mortgage,NaN,1 year,0.0,10.0,24.6,511302.0,0.0,6.0,0.0,debt consolidation,Long Term,572880.0,205333.0,17613.0,NaN,1
10,Home Mortgage,NaN,< 1 year,0.0,7.0,11.5,256322.0,0.0,NaN,0.0,debt consolidation,Short Term,220858.0,187492.0,14592.0,NaN,0
16,Rent,NaN,7 years,0.0,6.0,17.8,899492.0,0.0,NaN,0.0,debt consolidation,Long Term,313038.0,538346.0,18844.0,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7482,Home Mortgage,NaN,10+ years,0.0,14.0,30.5,645062.0,0.0,45.0,0.0,debt consolidation,Short Term,188430.0,518662.0,23506.0,NaN,0
7492,Home Mortgage,NaN,10+ years,0.0,10.0,13.3,423984.0,0.0,NaN,0.0,debt consolidation,Short Term,332948.0,161481.0,20966.0,NaN,0
7494,Own Home,NaN,< 1 year,0.0,7.0,8.2,301554.0,0.0,NaN,0.0,debt consolidation,Short Term,290400.0,210938.0,5070.0,NaN,0
7498,Home Mortgage,NaN,NaN,0.0,21.0,26.5,1141250.0,0.0,NaN,0.0,debt consolidation,Short Term,615274.0,476064.0,37118.0,NaN,0
7499,Rent,NaN,4 years,0.0,8.0,9.4,480832.0,0.0,NaN,0.0,debt consolidation,Short Term,26928.0,288192.0,9061.0,NaN,0

In [56]:
df.loc[df['Purpose'] == 'renewable energy']

,Home Ownership,Annual Income,Years in current job,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Purpose,Term,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Credit Default
2223,Home Mortgage,NaN,10+ years,0.0,3.0,22.6,295218.0,0.0,NaN,0.0,renewable energy,Long Term,215468.0,198341.0,6421.0,NaN,1
7082,Own Home,NaN,3 years,0.0,14.0,27.9,182094.0,0.0,25.0,0.0,renewable energy,Short Term,21912.0,49533.0,9878.0,NaN,1

In [61]:
df.loc[df['Credit Score'] == 7010]

,Home Ownership,Annual Income,Years in current job,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Purpose,Term,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Credit Default
94,Rent,1049294.0,3 years,0.0,5.0,6.1,249810.0,0.0,NaN,0.0,business loan,Short Term,337502.0,119529.0,15215.0,7010.0,1

In [62]:
df.loc[df['Credit Score'] > 7010]

,Home Ownership,Annual Income,Years in current job,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Purpose,Term,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Credit Default
87,Home Mortgage,1533566.0,7 years,0.0,11.0,14.8,715462.0,0.0,19.0,0.0,debt consolidation,Short Term,210826.0,285475.0,18147.0,7440.0,1
96,Rent,757568.0,5 years,0.0,13.0,11.4,383548.0,0.0,NaN,0.0,debt consolidation,Short Term,210518.0,276583.0,11553.0,7320.0,1
116,Home Mortgage,1039984.0,NaN,0.0,10.0,23.8,147950.0,0.0,63.0,0.0,debt consolidation,Short Term,224246.0,95456.0,13780.0,7390.0,1
152,Home Mortgage,1026817.0,10+ years,0.0,19.0,20.8,957550.0,0.0,NaN,0.0,debt consolidation,Long Term,345884.0,619419.0,18055.0,7140.0,1
153,Rent,749816.0,9 years,0.0,7.0,14.5,329890.0,0.0,NaN,0.0,buy a car,Short Term,325578.0,207138.0,12934.0,7470.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7364,Rent,680162.0,5 years,0.0,7.0,9.1,278850.0,0.0,NaN,0.0,debt consolidation,Short Term,157520.0,115596.0,4274.0,7400.0,1
7379,Own Home,290415.0,< 1 year,0.0,16.0,12.5,116644.0,0.0,0.0,NaN,small business,Short Term,71170.0,55499.0,2953.0,7160.0,1
7450,Home Mortgage,1432277.0,10+ years,0.0,16.0,22.8,825176.0,0.0,NaN,0.0,debt consolidation,Short Term,187924.0,458242.0,27094.0,7290.0,1
7460,Rent,769462.0,5 years,0.0,8.0,17.0,313786.0,0.0,80.0,0.0,debt consolidation,Short Term,109186.0,45524.0,4585.0,7470.0,1
7496,Home Mortgage,1533984.0,1 year,0.0,10.0,26.5,686312.0,0.0,43.0,0.0,debt consolidation,Long Term,444048.0,456399.0,12783.0,7410.0,1